In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [22]:
# load in the dataset into a pandas dataframe, print statistics
df = pd.read_csv('prosperLoanData.csv')

# Simplify the dataframe to only include relevant columns for this analysis
df2 = df[['ListingKey', 'ListingCreationDate', 'Term', 'LoanStatus', 'BorrowerAPR', 'LenderYield', 'EmploymentStatus', 'IsBorrowerHomeowner', 'CreditScoreRangeLower', 'IncomeRange', 'MonthlyLoanPayment']]

# high-level overview of data shape and composition
print(df2.shape)
print(df2.info())

(113937, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 11 columns):
ListingKey               113937 non-null object
ListingCreationDate      113937 non-null object
Term                     113937 non-null int64
LoanStatus               113937 non-null object
BorrowerAPR              113912 non-null float64
LenderYield              113937 non-null float64
EmploymentStatus         111682 non-null object
IsBorrowerHomeowner      113937 non-null bool
CreditScoreRangeLower    113346 non-null float64
IncomeRange              113937 non-null object
MonthlyLoanPayment       113937 non-null float64
dtypes: bool(1), float64(4), int64(1), object(5)
memory usage: 8.8+ MB
None

In [23]:
df2.head()

,ListingKey,ListingCreationDate,Term,LoanStatus,BorrowerAPR,LenderYield,EmploymentStatus,IsBorrowerHomeowner,CreditScoreRangeLower,IncomeRange,MonthlyLoanPayment
0,1021339766868145413AB3B,2007-08-26 19:09:29.263000000,36,Completed,0.16516,0.1380,Self-employed,True,640.0,"$25,000-49,999",330.43
1,10273602499503308B223C1,2014-02-27 08:28:07.900000000,36,Current,0.12016,0.0820,Employed,False,680.0,"$50,000-74,999",318.93
2,0EE9337825851032864889A,2007-01-05 15:00:47.090000000,36,Completed,0.28269,0.2400,Not available,False,480.0,Not displayed,123.32
3,0EF5356002482715299901A,2012-10-22 11:02:35.010000000,36,Current,0.12528,0.0874,Employed,True,800.0,"$25,000-49,999",321.45
4,0F023589499656230C5E3E2,2013-09-14 18:38:39.097000000,36,Current,0.24614,0.1985,Employed,True,680.0,"$100,000+",563.97

In [27]:
# convert Credit Score into ordered categorical values

# Bin edges 
bin_edges = [0, 1, 579, 669, 739, 799, 900] 

# Labels for our credit scores
bin_names = ['None', 'Very Poor', 'Fair', 'Good', 'Very Good', 'Exceptional']

# Creates CreditScore column
df2['CreditScore'] = pd.cut(df2['CreditScoreRangeLower'], bin_edges, labels=bin_names)

# Let's take a randon sample to see if our categories work
df2.sample(5)

C:\Users\nasty\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

,ListingKey,ListingCreationDate,Term,LoanStatus,BorrowerAPR,LenderYield,EmploymentStatus,IsBorrowerHomeowner,CreditScoreRangeLower,IncomeRange,MonthlyLoanPayment,CreditScore
10183,85A13566832011842E4AC17,2012-12-31 06:43:57.137000000,36,Completed,0.14348,0.1053,Employed,True,680.0,"$100,000+",412.38,Good
100498,AD2635769051047326E07CA,2013-04-19 07:42:52.027000000,36,Current,0.25013,0.2024,Employed,False,640.0,"$50,000-74,999",510.28,Fair
91464,68DA36023629569071F369E,2014-02-03 08:15:04.273000000,36,Current,0.18633,0.1400,Employed,True,720.0,"$75,000-99,999",346.65,Good
69118,DD853571290064484FCD794,2013-02-15 10:13:41.710000000,36,Current,0.18214,0.1359,Employed,True,760.0,"$75,000-99,999",103.39,Very Good
33224,36C835434446596187BE92E,2012-04-14 04:31:31.940000000,36,Current,0.33553,0.2858,Employed,True,660.0,"$75,000-99,999",168.89,Fair

In [29]:
df2.IncomeRange.value_counts()

$25,000-49,999    32192
$50,000-74,999    31050
$100,000+         17337
$75,000-99,999    16916
Not displayed      7741
$1-24,999          7274
Not employed        806
$0                  621
Name: IncomeRange, dtype: int64

In [28]:
print(df2.Term.unique())
print(df2.IncomeRange.unique())
print(df2.CreditScore.unique())

[36 60 12]
['$25,000-49,999' '$50,000-74,999' 'Not displayed' '$100,000+'
 '$75,000-99,999' '$1-24,999' 'Not employed' '$0']
[Fair, Good, Very Poor, Exceptional, Very Good, NaN]
Categories (5, object): [Very Poor < Fair < Good < Very Good < Exceptional]

In [30]:
# convert Term, IncomeRange, CreditScoreRangeLower, into ordered categorical types
ordinal_var_dict = {'Term': ['12','36','60'],
                    'IncomeRange': ['Not employed', 'Not displayed', '$0', '$1-24,999', '$25,000-49,999', '$50,000-74,999',
                                    '$75,000-99,999', '$100,000+'],
                    'CreditScore': ['NaN', 'Very Poor', 'Fair', 'Good', 'Very Good', 'Exceptional']}

for var in ordinal_var_dict:
    ordered_var = pd.api.types.CategoricalDtype(ordered = True,
                                                categories = ordinal_var_dict[var])
    df2[var] = df2[var].astype(ordered_var)

C:\Users\nasty\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [20]:
df2.CreditScoreRangeLower.min()

0.0

In [21]:
df2.IncomeRange.unique()

array(['$25,000-49,999', '$50,000-74,999', 'Not displayed', '$100,000+',
       '$75,000-99,999', '$1-24,999', 'Not employed', '$0'], dtype=object)

In [9]:
df2.MemberKey.nunique()

90831

In [11]:
df2.LoanKey.nunique()

113066

In [18]:
df2.Occupation.unique()

array(['Other', 'Professional', 'Skilled Labor', 'Executive',
       'Sales - Retail', 'Laborer', 'Food Service', 'Fireman',
       'Waiter/Waitress', 'Construction', 'Computer Programmer',
       'Sales - Commission', 'Retail Management', 'Engineer - Mechanical',
       'Military Enlisted', 'Clerical', nan, 'Teacher', 'Clergy',
       'Accountant/CPA', 'Attorney', 'Nurse (RN)', 'Analyst',
       "Nurse's Aide", 'Investor', 'Realtor', 'Flight Attendant',
       'Nurse (LPN)', 'Military Officer', 'Food Service Management',
       'Truck Driver', 'Administrative Assistant',
       'Police Officer/Correction Officer', 'Social Worker',
       'Tradesman - Mechanic', 'Medical Technician', 'Professor',
       'Postal Service', 'Civil Service', 'Pharmacist',
       'Tradesman - Electrician', 'Scientist', 'Dentist',
       'Engineer - Electrical', 'Architect', 'Landscaping',
       'Tradesman - Carpenter', 'Bus Driver', 'Tradesman - Plumber',
       'Engineer - Chemical', 'Doctor', 'Chemist',
       'Student - College Senior', 'Principal', "Teacher's Aide",
       'Pilot - Private/Commercial', 'Religious', 'Homemaker',
       'Student - College Graduate Student', 'Student - Technical School',
       'Psychologist', 'Biologist', 'Student - College Sophomore',
       'Judge', 'Student - College Junior', 'Car Dealer',
       'Student - Community College', 'Student - College Freshman'],
      dtype=object)